<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="geo_fencing_android">

        <receiver
            android:name=".GeofenceReceiver"
            android:exported="true">

        <intent-filter>
            <action android:name="com.geofencing.android.ACTION_GEOFENCE_EVENT" />
        </intent-filter>
        </receiver>


    </application>

</manifest>


